<div class="container text-center">
  <div class="row">
    <div class="col col-12" id="head">Hi, I'm</div>
  </div>
  <div class="row justify-content-center">
    <img src="../../assets/line1.svg" class="lines" />
  </div>
  <div class="row">
    <div class="col col-12" id="name">Rebecka :)</div>
  </div>
  <div class="row justify-content-center">
    <img src="../../assets/line2.svg" class="lines" />
  </div>
  <div class="row mb-5">
    <div class="col col-12" id="bot">
      A datatechnician trainee<br />
      specializing in programming
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <img src="../../assets/arrow.svg" id="arrow" />
  </div>
</div>

blablabla <br />
blablabla <br />
blablabla <br />
blablabla <br />
blablabla <br />
blablabla <br />

blablabla <br />blablabla <br />blablabla <br />blablabla <br />blablabla
<br />blablabla <br />blablabla <br />
Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem<br />
Ipsum has been the industry's standard dummy text ever since the 1500s, when
an<br />
unknown printer took a galley of type and scrambled it to make a type
specimen<br />
book. It has survived not only five centuries, but also the leap into
electronic<br />
typesetting, remaining essentially unchanged. It was popularised in the 1960s<br />
with the release of Letraset sheets containing Lorem Ipsum passages, and more<br />
recently with desktop publishing software like Aldus PageMaker including<br />
versions of Lorem Ipsum.<br />

blablabla <br />blablabla <br />blablabla <br />blablabla <br />blablabla
<br />blablabla <br />blablabla <br />
Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem<br />
Ipsum has been the industry's standard dummy text ever since the 1500s, when
an<br />
unknown printer took a galley of type and scrambled it to make a type
specimen<br />
book. It has survived not only five centuries, but also the leap into
electronic<br />
typesetting, remaining essentially unchanged. It was popularised in the 1960s<br />
with the release of Letraset sheets containing Lorem Ipsum passages, and more<br />
recently with desktop publishing software like Aldus PageMaker including<br />
versions of Lorem Ipsum.<br />

blablabla <br />blablabla <br />blablabla <br />blablabla <br />blablabla
<br />blablabla <br />blablabla <br />
Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem<br />
Ipsum has been the industry's standard dummy text ever since the 1500s, when
an<br />
unknown printer took a galley of type and scrambled it to make a type
specimen<br />
book. It has survived not only five centuries, but also the leap into
electronic<br />
typesetting, remaining essentially unchanged. It was popularised in the 1960s<br />
with the release of Letraset sheets containing Lorem Ipsum passages, and more<br />
recently with desktop publishing software like Aldus PageMaker including<br />
versions of Lorem Ipsum.<br />
