// body {
//   background: rgb(255, 224, 181);
//   background: linear-gradient(
//     90deg,
//     rgba(255, 224, 181, 1) 45%,
//     rgba(255, 247, 235, 1) 95%
//   );
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   color: #140c00;
//   font-family: "Quicksand", sans-serif;
// }

a {
  color: #fffff2 !important;
}

// .row {
//   border-radius: 25px;
// }

#flower1 {
  position: fixed;
  z-index: -1;
  bottom: 150px;
  left: 150px;
  width: 100px;
  height: 100px;
}

#flower2 {
  position: fixed;
  z-index: -1;
  top: 170px;
  left: 250px;
  width: 70px;
  height: 70px;
  opacity: 0.7;
}

#flower3 {
  position: fixed;
  z-index: -1;
  top: 370px;
  left: 450px;
  width: 70px;
  height: 70px;
  opacity: 0.7;
}

body {
  background: #020402;

  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fffff2;
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
}
